.new-diary-wrapper {
    background-image: url("../images/background_logo.png");
    background-size: cover;
    padding: 80px 0 150px 0;
}

.container {
    width: 48%;
    margin: auto;
}

.title {
    padding-left: 30px;
}

.form-wrapper {
    border: 3px solid rgb(0, 203, 203);
    background-color: white;
    padding: 45px 0;
    border-radius: 30px;
}

form {
    width: 48%;
    margin: 0 50px;
}

.item-name {
    margin-right: 30px;
}

.date {
    margin-right: 46px;
}

.text {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px inset rgb(0, 203, 203);
}

textarea {
    height: 100px;
    width: 570px;
    margin-top: 5px;
    font-size: large;
}

.textarea_name {
    vertical-align: top;
}

.submit {
    width: 20%;
    margin-top: 40px;
    padding: 10px 0;
    background-color: rgb(0, 203, 203);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 7px rgb(1, 133, 133);
    float: right;
}

.submit:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

select {
    border: 2px inset rgb(0, 203, 203);
    border-radius: 5px;
}

.reflection {
    margin-bottom: 0;
}